


body{
    background-image: url(https://www.humanesociety.org/sites/default/files/styles/1240x698/public/2020-07/kitten-510651.jpg?h=f54c7448&itok=ZhplzyJ9);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1600px;
}
header{
    background-color: rgba(228, 189, 138, 0.651);
}

h1{
    color: #fff;
    text-align: center;
    padding: 70px;
}
.cat{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 1000px;
    background-color: rgba(231, 184, 98, 0.644);
    text-align: center;
}

.cat p{
    padding: 40px;
    font-size: 24px;
}

.cat ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #000;
}

section{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    height: 400px;
    width: 1000px;
    background-color: rgba(240, 194, 110, 0.678);
    text-align: center;
}
table{
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
}
caption{
    padding: 10px;
    font-size: 30px;
    color: #000;
    font-weight: bold;
}

td,
th {
    border: 1px solid rgb(20, 20, 20);
    padding: 15px;
    font-size: 17px;
}
th{
    font-weight: normal;
}

td {
    text-align: center;
}

td[ scope="col"]{
    font-weight: bold;
}

label{
    display: block;
    font-size: 15px;
    font-weight: bold;
}

button{
    display: block;
    margin: 0 auto ;
    margin-top: 40px;
    padding: 0 auto;
    background-color: rgba(228, 202, 58, 0.486);
    width: 200px;
    height: 100px;
    border-radius: 4%;
}


button a{
    color:firebrick;
    font-size: 14px;
    font-family: Arial, Helvetica, bold;
    font-weight: 600;
}